body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-box {
  background-color: #eaf6f6;
  padding-top: 100px;
}
span {
  text-decoration: underline;
}
h1 {
  font-size: 70px;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}
h2 {
  color: #66bfbf;
  font-size: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
.first-img {
  position: absolute;
  right: 300px;
  top: 50px;
}

.second-img {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

hr {
  border: dotted 6px #b7c5c5;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p {
  line-height: 2;
}
.up {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.down {
  width: 25%;
  float: right;
  margin-right: 30px;
}
.middle-container {
  margin: 100px 0;
}

.myPics {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.lst {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* .footer-link {
  color: #11999e;
} */
/* Used to clear the item beside another
.st {
  clear: left;
}

.nd {
  clear: right;
} */

/* font-family: 'Josefin Sans', sans-serif;

font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
.fa {
  color: #40514e;
}
